body {
    font-family: Times New Roman, sans-serif;
    background-color: #abfcff;
    margin: 0;
    padding: 0;
    background-image: url('25_mayo/img/cabildo.jpg');
    }
    
  
  .infografia {
    background-color: #9fc7c9;
    border: 4px solid #62969e;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .infografia h1 {
    background-color: #82b3ae;
    border-radius: 30%;
    text-align: center;
    font-size: 36px;
    color: #194a57;
  }
  
  .infografia img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .semana_mayo {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #7fbcbe;
    border-radius: 30%;
    color: #194a57;
  }
  
 
  
  .article1,
  .article2,
  .article3 {
    
      display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .dia_1,
  .dia_2,
  .dia_3,
  .dia_4,
  .dia_5,
  .dia_6,
  .dia_7,
  .dia_8 {
    margin-left: 30px;
    background-color: #6bb1b4;
   border-radius: 5px;
   border: 2px solid #194a57;
  
  }
  
  .personas {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
   
  
  }
.persona1 ,
.persona2 ,
.persona3 ,
.persona4  {
  width: 100px;
  border-radius: 10%;
  margin-bottom: 10px;
  background-color: #6ba6a8;
  padding: 20px;
  border: 2px solid #4f8485;
}
  
.persona1 img,
.persona2 img,
.persona3 img,
.persona4 img {
  width: 100px;
  border-radius: 10%;
  margin-bottom: 10px;

}
